<h1>Student Info</h1>

<%# <% @student.each do |student| %>
<%# <%= render partial: "students/student", locals: {student: student} %> 
<%# <% end %>  
<%= render partial: "student", locals: {student: @student} %>
